{% extends 'partials/base.html' %}
{% block title %}Product Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'partials/topnav.html' %}

<!--Inicio de tabla-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="border bg-white p-3">
                <h4>Agregar producto</h4>
                <hr>
                <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy}}  
                    <input class="btn btn-success btn-block" type="submit" value="Add Product">
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in items %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{items.nombre}}</td>
                        <td>{{items.categoria}}</td>
                        <td>{{items.cantidad}}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-update' items.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' items.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<!--End Table-->

{% endblock %}